.square{
    width:2em;
    height:2em;
    border:1px solid black;
    margin:0px;
    padding:0px;
    text-align:center;
    vertical-align:center;
}

table{
    border-collapse:collapse;
}

.black{
    background:black;
    color:white;
}
