<html lang='en'>
<body ng-controller='mainController' style='display:flex; flex-direction:column;'>
    
    
	<div id='board' style='display:flex;flex-direction:row;'>
        <chess-board board="board"></chess-board>
        <div id=pieces >
        <ul>
            <li ng-repeat='i in pieces'>{{i}}</li>
        </ul>
    </div>
	</div>
    
    <div id=importExport style='display:flex; flex-direction:column;'>
        <textarea style="width:24em;height:9em;" ng-model='importText' ng-change="import()">
        </textarea>
        <textarea readonly='readonly' ng-model='board.board' style="width:24em;height:9em;">
        </textarea>
    </div>
    
    
    
    <link rel="stylesheet" type="text/css" href="board.css">
	
	
	<!--CDNs are for production! -->
	<script src="/lib/angular.js"></script>
    <script src="/lib/require.js" data-main='main.js'></script>

	
	<script>
    require(['chessBoard', 'chessPieces'], function(chessGame, pieces){
        dev = angular.module('chessDev', []);
        dev.controller("mainController", function($scope){
            
            $scope.board = new chessGame();
            $scope.board.init();
            
            $scope.importText = '[]';
            
            $scope.import = function(){
                newBoard = eval($scope.importText);
                console.log($scope.importText);
                console.log(newBoard);
                if(Array.isArray(newBoard) && newBoard.length == 64){
                    $scope.board.board=newBoard;
                }else{
                    console.log("bad Board");
                }
            }
            
            $scope.pieces=pieces.values;
            console.log(pieces.values);

        });
        dev.directive("chessBoard", function(){
            return {
                templateUrl:'/board.html',
                restrict:'E',
                scope: {
                    board:'=board'
                }
                
            };
        });
	    	    
	    angular.bootstrap(document, ['chessDev']);	    
	});
        
        
	</script>
	

</body>
</html>
